@{
    ViewData["Title"] = "Cadastro Escolar";
}

<div class="text-center" style="padding-top: 80px; padding-bottom: 80px; width: 800px; margin-left: auto; margin-right: auto;">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Imagens/escola.jpg" 
                alt="Estacionamento" style="height: 400px; width: 800px; margin-left: auto; margin-right: auto; 
                margin-top: auto; margin-bottom: auto;">
                <div class="carousel-caption">
                    <h3>Cadastre sua unidade escolar já!</h3>
                    <p></p>
                </div>
            </div>

            <div class="item">
                <img src="~/Imagens/professor.jpg" 
                alt="Prato de comida sendo servido" style="height: 400px; width: 800px; margin-left: auto; margin-right: auto; 
                margin-top: auto; margin-bottom: auto;">
                <div class="carousel-caption">
                    <h3>Uma forma rápida e fácil de ter tudo à um clique</h3>
                    <p></p>
                </div>
            </div>

            <div class="item">
                <img src="~/Imagens/computador.jpg" 
                alt="New York" style="height: 400px; width: 800px; margin-left: auto; margin-right: auto; 
                margin-top: auto; margin-bottom: auto;">
                <div class="carousel-caption">
                    <h3>Tudo para facilitar o seu dia-a-dia!</h3>
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
</div>
