@model Turma
@{
    ViewData["Title"] = "Adicionar uma nova Turma";
}


<div class="text-center">
    <h4>@if (Model.Id > 0)
        {
            @Html.Raw("Editar Turma");
        } else {
            @Html.Raw("Incluir Turma");
        }
    </h4>
</div>

<form method="POST" asp-action="Detalhe" asp-controller="Turma" class="form p-5"
    style="border: 3px solid grey; background: #E6E6E6; border-radius: 15px; margin-top: 30px;">
    <div class="text-danger">@Html.ValidationSummary()</div>

    <div class="row">
        <div class="col-md-6">
            <input asp-for="Id" type="hidden" class="form-control">
            <label class="form-label">Escola</label>
            <select asp-for="IdEscola" asp-items="@ViewBag.Escolas" class="form-control"></select>
        </div>
        <div class="col-md-6">
            <label class="form-label">Tipo</label>
            <input asp-for="Tipo" type="text" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="form-label">Descricao</label>
            <input asp-for="Descricao" type="text" class="form-control">
        </div>
        <div class="col-md-6">
            <label class="form-label">Serie</label>
            <input asp-for="Serie" type="text" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="form-label">Ano</label>
            <input asp-for="Ano" type="number" class="form-control">
        </div>
    </div>
    
    <input type="submit" value="Salvar" class="btn btn-success" 
        style="margin-top: 30px; margin-bottom: 15px;">
    <input type="button" value="Voltar" class="btn btn-success" onclick="Voltar()"
        style="margin-top: 30px; margin-bottom: 15px;"></td>
</form>

<script>
    function Voltar(){
        window.location.href = "https://localhost:5001/Turma";
    }
</script>