
@{
    ViewData["Title"] = "Adicionar um novo Boletim";
}

@section Scripts{
    

}

<div class="text-center">
    <h4>
        Cadastro de Boletins
    </h4>
</div>

<form method="POST" asp-action="Detalhe" asp-controller="Boletim" class="form p-5"
    style="border: 3px solid grey; background: #E6E6E6; border-radius: 15px; margin-top: 30px;">
    <div class="text-danger">@Html.ValidationSummary()</div>

    <div class="row">
        <div class="col-md-6">
            <input id="Id" type="hidden" class="form-control">
            <label class="form-label">Turma</label>
            <select id="IdTurma" asp-items="@ViewBag.Turmas"  class="form-control" onchange="Pesquisar()"></select>
        </div>
        <div class="col-md-6">
            <label class="form-label">Grade de Aula</label>
                <input id="IdGradeAula" type="text" class="form-control">
        </div>
    </div>

    <div id="divItem" hidden>
        <div class="row" id="divErroItem">
            <div class="col-md-4" >
            <label class="form-label">Aluno(a)</label>
            <select id="IdAluno" asp-items="@ViewBag.Alunos" class="form-control"></select>
            </div>
            <div class="col-md-4">
                <label class="form-label">Descrição Avaliacao</label>
                    <input id="DescricaoAvaliacao" type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label class="form-label">Nota</label>
                    <input id="Nota" type="text" class="form-control">
            </div>
        </div>
    </div>

    <input type="button" value="Voltar" class="btn btn-success" onclick="Voltar()"
        style="margin-top: 30px; margin-bottom: 15px;"></td>
    <input type="button" value="Salvar" class="btn btn-success"  onclick="Salvar()"
    style="margin-top: 30px; margin-bottom: 15px;">
    <input id="novo" type="button" value="Novo" class="btn btn-success" onclick="Adicionar()"
        style="margin-top: 30px; margin-bottom: 15px;"></td>
    <input type="button" value="Cancelar" onclick="Cancelar()" class="btn btn-danger"
        style="margin-top: 30px; margin-bottom: 15px;"></td>

    <div id="divpartialitens">

    </div>

</form>

<script>

    var idTurma = @ViewBag.IdTurma;

    function Voltar() {
        window.location.href = "https://localhost:44370/Boletim";
    }

    window.onload = function () {
            if (idTurma != null){
                $('#IdTurma').val(idTurma).prop('disabled',true);
            }
        Pesquisar();
    }

    function Editar(id,idAluno,descricaoAvaliacao,nota){
        $('#Id').val(id);
        $('#IdAluno').val(idAluno);
        $('#DescricaoAvaliacao').val(descricaoAvaliacao);
        $('#Nota').val(nota);
        //debugger;

        $('#divItem').prop('hidden', false);

    }

    function Adicionar() {
        $('#divItem').prop('hidden', false);
        Limpar();
    }

    function Limpar(){
        $('#IdAluno').val('');
        $('#DescricaoAvaliacao').val('');
        $('#Nota').val('');
    }

    function Pesquisar() {
        var result = $('#IdTurma').val(); 
        var url = '/Boletim/ListaPartialViewDetalhe';
        var parametros = { idTurma: result };
        $.get(url, parametros) 
            .done(function (data) {
                $('#divpartialitens').html(data);  
            });
    }

    function Salvar() {
        var idBoletim = $('#Id').val();
        var idAluno = $('#IdAluno').val();
        var idGradeAula = $('#IdGradeAula').val();
        var descricaoAvaliacao = $('#DescricaoAvaliacao').val();
        var nota = $('#Nota').val();
        debugger;
        
        var url = '/Boletim/Detalhe';
        var parametros = {
                Id: idBoletim, IdAluno: idAluno, IdGradeAula: idGradeAula, DescricaoAvaliacao: descricaoAvaliacao,
            Nota: nota
        };
        $.post(url, parametros)
            .done(function (data) {
                if (data.sucesso) {
                    $('#divItem').prop('hidden', true);
                    Pesquisar();
                    Limpar();
                } else {
                    $('#divErroItem').html(data.mensagem);
                }
            });
    }

    function Cancelar(){
        $('#divItem').prop('hidden', true);
        Limpar();
        
    }

</script>